<template>
  <q-page>
    <q-tabs v-model="selectedTab" class="chats-tabs" color="#f0eff5" text-color="#3d3b48">
      <q-tab default slot="title" name="all" label="Все" />
      <q-tab slot="title" name="groups" label="Подборки" />
    </q-tabs>

    <div v-if="selectedTab === 'all'">
      {{ bookmarks }}
      <div>
        <q-btn v-on:click="addBookmark">addBookmark</q-btn>
        <q-btn v-on:click="removeBookmark">removeBookmark</q-btn>
      </div>
      <q-list no-border highlight>
        <q-item tag="label" to="/chat">
          <q-item-side avatar="statics/trump.jpg" />
          <q-item-main
            label="Donald Trump"
            label-lines="1"
            sublabel="John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe"
            sublabel-lines="2"
          />
        </q-item>
      </q-list>
    </div>

    <div v-if="selectedTab === 'groups'">
      {{ bookmarkGroups }}
      <div>
        <q-btn v-on:click="createBookmarkGroup">createBookmarkGroup</q-btn>
        <q-btn v-on:click="editBookmarkGroup">editBookmarkGroup</q-btn>
        <q-btn v-on:click="removeBookmarkGroup">removeBookmarkGroup</q-btn>
        <q-btn v-on:click="addUsersToBookmarkGroup">addUsersToBookmarkGroup</q-btn>
        <q-btn v-on:click="loadBookmarkGroupUsers">loadBookmarkGroupUsers</q-btn>
      </div>
    </div>
  </q-page>
</template>

<style>
.chats-tabs .q-tab {
  border-radius: 0px;
  background-color: #f0eff5 !important;
  border-bottom: 2px solid #dfdfdf;
}

.chats-tabs .q-tab.active {
  border-bottom: 2px solid #3d3b48;
}

.align-center {
  text-align: center;
}
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      selectedTab: 'all',
      bookmarks: [],
      bookmarkGroups: []
    }
  },
  mounted () {
    this.loadBookmarks()
    this.loadBookmarkGroups()
  },
  methods: {
    async loadBookmarks () {
      this.bookmarks = (await this.$apiGet('bookmarks/getBookmarks')).data.bookmarks
    },
    async addBookmark () {
      let userId = 1
      let success = (await this.$apiPost('bookmarks/addBookmark', { userId: userId })).success
      console.log(success)
      this.loadBookmarks()
    },
    async removeBookmark () {
      let userId = 1
      let success = (await this.$apiPost('bookmarks/removeBookmark', { userId: userId })).success
      console.log(success)
      this.loadBookmarks()
    },
    async loadBookmarkGroups () {
      this.bookmarkGroups = (await this.$apiGet('bookmarks/getBookmarkGroups')).data.bookmarkGroups
    },
    async loadBookmarkGroupUsers () {
      let groupId = 1
      this.bookmarkGroups = (await this.$apiGet(`bookmarks/getBookmarkGroupUsers?groupId=${groupId}`)).data.bookmarks
    },
    async createBookmarkGroup () {
      let name = 'new bookmarks group'
      let success = (await this.$apiPost('bookmarks/createBookmarksGroup', { name: name })).success
      console.log(success)
      this.loadBookmarkGroups()
    },
    async editBookmarkGroup () {
      let name = 'new bookmarks group edited'
      let success = (await this.$apiPost('bookmarks/editBookmarkGroup', { name: name })).success
      console.log(success)
      this.loadBookmarkGroups()
    },
    async removeBookmarkGroup () {
      let groupId = 2
      let success = (await this.$apiPost('bookmarks/deleteBookmarkGroup', { groupId: groupId })).success
      console.log(success)
      this.loadBookmarkGroups()
    },
    async addUsersToBookmarkGroup () {
      let groupId = 1
      let userIds = [1]
      let success = (await this.$apiPost('bookmarks/addUsersToGroup', { groupId: groupId, userIds: userIds })).success
      console.log(success)
      this.loadBookmarks()
      this.loadBookmarkGroups()
    }
  }
}
</script>
