<template>
  <q-page>
    <q-tabs v-model="selectedTab" class="chats-tabs" color="#f0eff5" text-color="#3d3b48">
      <q-tab default slot="title" name="chats" label="Сообщения" />
      <q-tab slot="title" name="likes" label="Меня лайкнули" />
    </q-tabs>

    <p v-if="selectedTab === 'chats'">
      <q-list no-border highlight>
        <q-list-header>Сообщения</q-list-header>
        <q-item tag="label" to="/chat">
          <q-item-side avatar="statics/trump.jpg" />
          <q-item-main
            label="Donald Trump"
            label-lines="1"
            sublabel="John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe"
            sublabel-lines="2"
          />
          <q-item-side right class="align-center">
            <q-item-tile stamp>22:03</q-item-tile>
            <q-chip round color="primary" dense>2</q-chip>
          </q-item-side>
        </q-item>
      </q-list>
    </p>

    <p v-if="selectedTab === 'likes'">
      {{ showedInterestToMeUsers }}
      <q-list no-border highlight>
        <q-item tag="label" to="/chat">
          <q-item-side avatar="statics/trump.jpg" />
          <q-item-main
            label="Donald Trump"
            label-lines="1"
            sublabel="John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe"
            sublabel-lines="2"
          />
          <q-item-side right class="align-center">
            <q-item-tile stamp>22:03</q-item-tile>
            <q-chip round color="primary" dense>2</q-chip>
          </q-item-side>
        </q-item>
      </q-list>
    </p>
  </q-page>
</template>

<style>
.chats-tabs .q-tab {
  border-radius: 0px;
  background-color: #f0eff5 !important;
  border-bottom: 2px solid #dfdfdf;
}

.chats-tabs .q-tab.active {
  border-bottom: 2px solid #3d3b48;
}

.align-center {
  text-align: center;
}
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      selectedTab: 'chats',
      showedInterestToMeUsers: []
    }
  },
  mounted () {
    this.loadShowedInterestToMeUsers()
  },
  methods: {
    async loadShowedInterestToMeUsers () {
      this.showedInterestToMeUsers = (await this.$apiGet('search/getShowedInterestToMeUsers')).data.users
    }
  }
}
</script>
