<template>
  <q-page padding class="relative-position">
    <div style="width: 500px; max-width: 90vw;">
      <q-chat-message
        v-for="(msg, index) in messages"
        :key="`reg-${index}`"
        :label="msg.label"
        :sent="msg.sent"
        :avatar="msg.avatar"
        :text="msg.text"
        :stamp="msg.stamp"
      >
        <!-- <q-icon name="face" size="4em" slot="avatar" v-if="noAvatar"/> -->
      </q-chat-message>
      <q-chat-message
        avatar="statics/trump.jpg"
      >
        <q-spinner-dots size="2rem" />
      </q-chat-message>
    </div>

    <div class="message-panel absolute-bottom row justify-between q-pa-xs">
      <div>
        <q-btn flat round dense text-color="dark" icon="fas fa-paperclip"></q-btn>
      </div>
      <div>
        <q-chip class="outline-secondary" small>
          <q-input type="textarea" :max-height="100" maxlength="1024" v-model="message" hide-underline placeholder="Написать сообщение..." class="message-input" />
        </q-chip>
      </div>
      <div class="q-ml-xs" v-if="message && message.length > 0">
        <q-btn round dense color="dark" text-color="white" icon="fas fa-check"></q-btn>
      </div>
    </div>
  </q-page>
</template>

<style>
.q-chip.outline-secondary {
  color: #343131 !important;
  background-color: #ffffff !important;
  border: 1px solid #e4e8f2 !important;
}

.q-message-received .q-message-text {
  color: #ffffff;
  border: 1px solid #dddddd;
}

.q-message-received .q-message-text:last-child:before {
  visibility: hidden;
}

.q-message-sent .q-message-text {
  color: #f1f2f4;
}

.message-panel {
  background-color: #ffffff !important;
  border-top: 1px solid #dfdfdf;
}

.message-input {
  background: #ffffff;
}
</style>

<script>
export default {
  data () {
    return {
      message: '',
      messages: [
        {
          label: 'Friday, 18th'
        },
        {
          name: 'Vladimir',
          text: ['How are you?'],
          avatar: 'statics/trump.jpg',
          stamp: 'Yesterday 13:34'
        },
        {
          name: 'Jane',
          text: ['I\'m good, thank you!', 'And you?'],
          sent: true,
          stamp: 'Yesterday at 13:50'
        },
        {
          name: 'Jane',
          text: ['And you?'],
          sent: true,
          stamp: 'Yesterday at 13:51'
        },
        {
          label: 'Saturday, 19th'
        },
        {
          name: 'Vladimir',
          text: ['Fine. Nice weather today, right?', 'Hmm...'],
          avatar: 'statics/trump.jpg',
          stamp: '13:55'
        },
        {
          label: 'Sunday, 20th'
        },
        {
          name: 'Vladimir',
          text: ['How are you?'],
          avatar: 'statics/trump.jpg',
          stamp: 'Yesterday 13:34'
        },
        {
          name: 'Jane',
          text: ['I\'m good, thank you!', 'And you?'],
          sent: true,
          stamp: 'Yesterday at 13:50'
        },
        {
          name: 'Jane',
          text: ['And you?'],
          sent: true,
          stamp: 'Yesterday at 13:51'
        },
        {
          label: 'Monday, 20th'
        },
        {
          name: 'Vladimir',
          text: ['Fine. Nice weather today, right?', 'Hmm...'],
          avatar: 'statics/trump.jpg',
          stamp: '13:55'
        },
        {
          label: 'Tuesday, 21th'
        },
        {
          name: 'Vladimir',
          text: ['How are you?'],
          avatar: 'statics/trump.jpg',
          stamp: 'Yesterday 13:34'
        },
        {
          name: 'Jane',
          text: ['I\'m good, thank you!', 'And you?'],
          sent: true,
          stamp: 'Yesterday at 13:50'
        },
        {
          name: 'Jane',
          text: ['And you?'],
          sent: true,
          stamp: 'Yesterday at 13:51'
        },
        {
          label: 'Sunday, 19th'
        },
        {
          name: 'Vladimir',
          text: ['Fine. Nice weather today, right?', 'Hmm...'],
          avatar: 'statics/trump.jpg',
          stamp: '13:55'
        },
        {
          label: 'Wednesday, 22th'
        },
        {
          name: 'Vladimir',
          text: ['How are you?'],
          avatar: 'statics/trump.jpg',
          stamp: 'Yesterday 13:34'
        },
        {
          name: 'Jane',
          text: ['I\'m good, thank you!', 'And you?'],
          sent: true,
          stamp: 'Yesterday at 13:50'
        },
        {
          name: 'Jane',
          text: ['And you?'],
          sent: true,
          stamp: 'Yesterday at 13:51'
        },
        {
          label: 'Thursday, 23th'
        },
        {
          name: 'Vladimir',
          text: ['Fine. Nice weather today, right?', 'Hmm...'],
          avatar: 'statics/trump.jpg',
          stamp: '13:55'
        }
      ]
    }
  }
}
</script>
