<template>
  <q-page>
    <q-input
      v-model="portfolio"
      type="textarea"
      :max-height="100"
      rows="7"
    />
    <q-btn label="Сохранить" v-on:click="save" />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      portfolio: ''
    }
  },
  mounted () {
    this.portfolio = this.$store.state.sphere.profile.portfolio
  },
  methods: {
    async save () {
      let profile = this.$store.state.sphere.profile
      profile.portfolio = this.portfolio
      await this.$apiPost('/profile', { profile: profile })
    }
  }
}
</script>
