<template>
  <q-page>
    <q-card flat class="title">
      <q-card-main>
        <div>
          Укажите свои интересы, навыки и увлечения чтобы мы подобрали для вас наиболее релевантные анкеты других пользователей
        </div>

        <q-search v-model="terms" inverted-light placeholder="">
          <q-autocomplete @search="search" :min-characters="3" @selected="selected" />
        </q-search>
      </q-card-main>
    </q-card>

    <q-card-main>
      <q-chip closable color="blue" text-color="white"
              v-for="(tag, index) in selectedTags" :key="index"
              v-on:hide="removeTag(tag)">{{ tag }}</q-chip>
    </q-card-main>
  </q-page>
</template>

<style>
.title {
  background-color: #f0eff5;
  border-bottom: 1px solid #d0d0d0;
  /* font-size: 18px; */
}

.meeting-settings-list .q-item-image {
  min-width: unset;
}

.meeting-settings-list img {
  width: 50px;
}
</style>

<script>
import { filter } from 'quasar'

export default {
  name: 'PageIndex',
  data () {
    return {
      terms: '',
      selectedTags: ['test']
    }
  },
  methods: {
    search (terms, done) {
      done(filter(terms, {
        field: 'value',
        list: [{
          label: 'test',
          value: 'test'
        }, {
          label: 'test2',
          value: 'test2'
        }]
      }))
    },
    selected (item) {
      this.selectedTags.push(item.label)
    },
    duplicate (label) {
      this.$q.notify(`"${label}" already in list`)
    },
    removeTag (tag) {
      this.selectedTags.splice(this.selectedTags.indexOf(tag), 1)
    }
  }
}
</script>
