<template>
  <q-page>
    <br/>
    <q-btn round color="light" text-color="white" size="sm" v-on:click="fbLogin">fb</q-btn>
    <br/>
    <br/>
    <q-btn round color="light" text-color="white" size="sm" v-on:click="googlePlusLogin">google plus</q-btn>
    <br/>
    <br/>
    <q-btn round color="light" text-color="white" size="sm" v-on:click="vkLogin">vk</q-btn>
    <br/>
    <br/>
    <div id="recaptcha-container"></div>
    <div v-if="smsLoginState === 'phone'">
      <input v-model="phone">
      <q-btn round color="light" text-color="white" size="sm" v-on:click="smsLogin">Send sms</q-btn>
    </div>
    <div v-if="smsLoginState === 'code'">
      <input v-model="code">
      <q-btn round color="light" text-color="white" size="sm" v-on:click="sendVerificationCode">Send code</q-btn>
    </div>
    <br/>
    <div>
      <input v-model="tmpJwtToken">
      <q-btn round color="light" text-color="white" size="sm" v-on:click="setJwtToken(tmpJwtToken)">set jwt token</q-btn>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
/* global facebookConnectPlugin */
/* eslint no-undef: "error" */
/* global SocialVk */
/* eslint no-undef: "error" */
export default {
  name: 'Login',
  data () {
    return {
      smsLoginState: 'phone',
      phone: '',
      code: '',
      tmpJwtToken: 'JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNTQyMzc1NTM2LCJleHAiOjE1NDYyNjM1MzZ9.Yy1_DgUUetlSYTxAjbQ08ykWfPx3qUooJgmfGpWiF2Q'
    }
  },
  mounted () {
    // SocialVk.init('6744650', () => {
    //   console.log('init')
    //   alert('init')
    // }, (error) => {
    //   console.log('error', error)
    //   alert('error')
    // })

    window.recaptchaVerifier = new this.$firebase.auth.RecaptchaVerifier('recaptcha-container', {
      'size': 'invisible',
      'callback': function (response) {
      },
      'expired-callback': function () {
        // Response expired. Ask user to solve reCAPTCHA again.
        // ...
      }
    })
    // window.recaptchaVerifier.render().then(function (widgetId) {
    //   console.log(widgetId)
    //   window.recaptchaWidgetId = widgetId
    // })
  },
  methods: {
    async fbLogin () {
      try {
        let data = await new Promise((resolve, reject) => {
          facebookConnectPlugin.login(['public_profile'], async (data) => {
            resolve(data)
          }, (error) => {
            reject(error)
          })
        })
        let loginResult = (await this.$axios.post(`${this.$host}/auth/fblogin`, { accessToken: data.authResponse.accessToken })).data
        alert(loginResult)
        this.setJwtToken(loginResult.data.token)
        // console.log(loginResult)
      } catch (err) {
        // console.log(err.message)
        this.$q.notify({
          color: 'negative',
          position: 'top',
          message: 'Ошибка регистрации',
          icon: 'report_problem'
        })
      }
    },
    async googlePlusLogin () {
      let googlePlusRes = await new Promise((resolve, reject) => {
        window.plugins.googleplus.login({
          'scopes': '', // optional, space-separated list of scopes, If not included or empty, defaults to `profile` and `email`.
          'webClientId': '1075936290261-h2mepfdkthkhma3t45laceasc24kdtfm.apps.googleusercontent.com', // optional clientId of your Web application from Credentials settings of your project - On Android, this MUST be included to get an idToken. On iOS, it is not required.
          'offline': false // optional, but requires the webClientId - if set to true the plugin will also return a serverAuthCode, which can be used to grant offline access to a non-Google server
        },
        async function (obj) {
          resolve(obj)
        },
        function (msg) {
          reject(msg)
        })
      })
      let loginResult = (await this.$axios.post(`${this.$host}/auth/googlePlusLogin`, { idToken: googlePlusRes.idToken })).data
      alert(JSON.stringify(loginResult))
      this.setJwtToken(loginResult.data.token)
    },
    async vkLogin () {
      SocialVk.login(['photos', 'offline'], (data) => {
        alert(data)
      }, (error) => {
        alert(error)
      })
      document.addEventListener('vkSdk.newToken', function (token) {
        console.log('New token is ' + token)
        alert('New token is ' + token)
      })
    },
    async smsLogin () {
      if (this.phone.trim() !== '') {
        try {
          let firebase = this.$firebase
          let confirmationResult = await firebase.auth().signInWithPhoneNumber(this.phone, window.recaptchaVerifier)
          window.confirmationResult = confirmationResult
          this.smsLoginState = 'code'
        } catch (error) {
          console.log('Error: ', error)
        }
      } else {
      }
    },
    async sendVerificationCode () {
      try {
        await window.confirmationResult.confirm(this.code)
        let idToken = await this.$firebase.auth().currentUser.getIdToken(/* forceRefresh */ false)
        let loginResult = (await this.$axios.post(`${this.$host}/auth/smsLogin`, { idToken: idToken })).data
        alert(JSON.stringify(loginResult))
        this.setJwtToken(loginResult.data.token)
      } catch (error) {
        console.log(error)
      }
    },
    async setJwtToken (jwtToken) {
      this.$store.dispatch('sphere/login', { jwtToken })
    }
  }
}
</script>
