<template>
  <q-page>
    <q-card flat class="title">
      <q-card-main>
        Выбрано 0 из 5 возможных
      </q-card-main>
    </q-card>

    <q-list no-border inset-separator class="meeting-settings-list">
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Кофе" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Пообедать" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Ужин" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Бар" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Выходные" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Спорт" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Телефон" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Скайп" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
      <q-item tag="label">
        <q-item-side image="statics/meeting-settings/coffee.png" />
        <q-item-main label="Прогулка" />
        <q-item-side right>
          <q-toggle v-model="checked_one" />
        </q-item-side>
      </q-item>
    </q-list>
  </q-page>
</template>

<style>
.title {
  background-color: #f0eff5;
  border-bottom: 1px solid #d0d0d0;
  /* font-size: 18px; */
}

.meeting-settings-list .q-item-image {
  min-width: unset;
}

.meeting-settings-list img {
  width: 50px;
}
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      checked_one: true
    }
  }
}
</script>
