<template>
  <q-page>
    <q-card flat>
      <q-card-main class="section-user-photos">
        <div class="row gutter-xs">
          <div class="col-8">
            <avatar :avatarNo="0" ref="avatar0" ></avatar>
          </div>

          <div class="col-4">
            <avatar :avatarNo="1" ref="avatar1" ></avatar>

            <div class="user-photo-preview-3-icon">
              <avatar :avatarNo="2" ref="avatar2" ></avatar>
            </div>
          </div>

          <div class="col-4">
            <avatar :avatarNo="3" ref="avatar3" ></avatar>
          </div>
          <div class="col-4">
            <avatar :avatarNo="4" ref="avatar4" ></avatar>
          </div>
          <div class="col-4">
            <avatar :avatarNo="5" ref="avatar5" ></avatar>
          </div>
          <div class="col-4">
            <avatar :avatarNo="6" ref="avatar6" ></avatar>
          </div>
          <div class="col-4">
            <avatar :avatarNo="7" ref="avatar7" ></avatar>
          </div>
          <div class="col-4">
            <avatar :avatarNo="8" ref="avatar8" ></avatar>
          </div>
        </div>
      </q-card-main>

      <q-card-main class="title top-no-border">
        МЕСТОНАХОЖДЕНИЕ
      </q-card-main>
      <q-card-main>
        <p class="text-faded"><i class="fas fa-map-marker-alt"></i>  Вашингтон</p>
      </q-card-main>

      <q-card-main class="title">
        ФИО
      </q-card-main>

      <q-card-main class="relative-position">
        <div class="absolute absolute-top-right">
          <q-btn flat text-color="dark" icon="fas fa-pen" class="q-pt-md"></q-btn>
        </div>
        <div>{{ fio }}</div>
        <p>Президент США</p>
      </q-card-main>

      <q-card-main class="title">
        МОИ ИНТЕРЕСЫ
      </q-card-main>

      <q-card-main class="relative-position">
        <div class="absolute absolute-top-right">
          <q-btn flat text-color="dark" icon="fas fa-pen" class="q-pt-md" to="/editInterests"></q-btn>
        </div>
        <p>
          <q-chip class="outline-secondary"
                  v-for="(interest, index) in interests" :key="index"
                  small>#{{ interest }}</q-chip>
        </p>
      </q-card-main>

      <q-card-main class="title">Обо мне</q-card-main>

      <q-card-main class="relative-position">
        <div class="absolute absolute-top-right">
          <q-btn flat text-color="dark" icon="fas fa-pen" class="q-pt-md" to="/editPortfolio"></q-btn>
        </div>
        <p class="text-faded">{{ portfolio }}</p>
      </q-card-main>

      <q-card-main class="title">Цели</q-card-main>

      <q-card-main class="relative-position">
        <div class="absolute absolute-top-right">
          <q-btn flat text-color="dark" icon="fas fa-pen" class="q-pt-md"></q-btn>
        </div>
        <p>
          <q-chip class="outline-secondary"
                  v-for="(goal, index) in goals" :key="index"
                  small>{{ $goalsRus[goal] }}</q-chip>
        </p>
      </q-card-main>

      <q-card-main class="title">МНЕ УДОБНЕЕ ВСТРЕТИТЬСЯ</q-card-main>

      <q-card-main class="relative-position">
        <div class="absolute absolute-top-right">
          <q-btn flat text-color="dark" icon="fas fa-pen" class="q-pt-md" to="/mettingSettings"></q-btn>
        </div>
        <div>
          <q-chip class="outline-secondary round-borders"
                  v-for="(meetingWay, index) in meetingWays" :key="index"
                  align="center" small>
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
            <div>{{ $meetingWaysRus[meetingWay] }}</div>
          </q-chip>
        </div>
      </q-card-main>

      <q-card-main class="title">Социальные сети</q-card-main>

      <q-card-media>
        <q-list dense no-border>
          <q-item>
            <q-item-side avatar="statics/trump.jpg" />
            <q-item-main :label="vk !== null ? '@' + vk : ''" align="right" />
            <q-item-side right>
              <q-btn v-if="vk !== null && vk.trim() !== ''" round outline icon="fas fa-times" v-on:click="deleteSocialAccount('Vk')" />
              <q-btn v-if="vk === null || vk.trim() === ''" round flat icon="fas fa-plus" v-on:click="addSocialAccount('Vk')" />
            </q-item-side>
          </q-item>
          <q-item-separator />
          <q-item>
            <q-item-side avatar="statics/trump.jpg" />
            <q-item-main :label="twitter !== null ? '@' + twitter : ''" align="right" />
            <q-item-side right>
              <q-btn v-if="twitter !== null && twitter.trim() !== ''" round outline icon="fas fa-times" v-on:click="deleteSocialAccount('Twitter')" />
              <q-btn v-if="twitter === null || twitter.trim() === ''" round flat icon="fas fa-plus" v-on:click="addSocialAccount('Twitter')" />
            </q-item-side>
          </q-item>
          <q-item-separator />
          <q-item>
            <q-item-side avatar="statics/trump.jpg" />
            <q-item-main :label="fb !== null ? '@' + fb : ''" align="right" />
            <q-item-side right>
              <q-btn v-if="fb !== null && fb.trim() !== ''" round outline icon="fas fa-times" v-on:click="deleteSocialAccount('Facebook')" />
              <q-btn v-if="fb === null || fb.trim() === ''" round flat icon="fas fa-plus" v-on:click="addSocialAccount('Facebook')" />
            </q-item-side>
          </q-item>
          <q-item-separator />
          <q-item>
            <q-item-side avatar="statics/trump.jpg" />
            <q-item-main :label="instagram !== null ? '@' + instagram : ''" align="right" />
            <q-item-side right>
              <q-btn v-if="instagram !== null && instagram.trim() !== ''" round outline icon="fas fa-times" v-on:click="deleteSocialAccount('Instagram')" />
              <q-btn v-if="instagram === null || instagram.trim() === ''" round flat icon="fas fa-plus" v-on:click="addSocialAccount('Instagram')" />
            </q-item-side>
          </q-item>
        </q-list>
      </q-card-media>
    </q-card>
  </q-page>
</template>

<style>
.section-user-photos {
  background: #f0eff5;
}

.user-photo-preview-3-icon .user-photo-preview {
  margin-top: 8px;
}

.q-chip {
  margin: 2px;
}

.q-chip.outline-secondary {
  color: #343131 !important;
  background-color: #ffffff !important;
  border: 1px solid #e4e8f2 !important;
}

.hor-list-item {
  margin: 5px;
  display: inline-block;
}

.title {
  background-color: #f0eff5;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  font-size: 18px;
  padding-bottom: 8px;
}

.top-no-border {
  border-top: none;
}
</style>

<script>
import Avatar from 'components/Avatar'

export default {
  name: 'PageIndex',
  components: {
    Avatar
  },
  data () {
    return {
      fio: '',
      portfolio: '',
      vk: '',
      twitter: '',
      fb: '',
      instagram: '',
      userPictureHash: '',
      userPicturesUploadNo: {},
      interests: [],
      goals: [],
      meetingWays: []
    }
  },
  mounted () {
    this.loadProfile()
  },
  computed: {
  },
  methods: {
    updateUserPictureUrls () {
      let storageBucket = 'sphere-85aff.appspot.com'
      for (let i = 0; i < 9; i++) {
        let prefix = i === 0 ? '' : '_' + i
        this.$refs[`avatar${i}`].setUserPictureUrl(`https://firebasestorage.googleapis.com/v0/b/${storageBucket}/o/public%2F${this.userPictureHash}${prefix}?alt=media`, this.userPicturesUploadNo[i])
      }
    },
    async loadProfile () {
      let profile = (await this.$apiGet('profile')).data.profile
      this.fio = profile.fio
      this.userPictureHash = profile.userPictureHash
      this.userPicturesUploadNo = profile.userPicturesUploadNo
      this.portfolio = profile.portfolio
      this.vk = profile.vk
      this.twitter = profile.twitter
      this.fb = profile.fb
      this.instagram = profile.instagram
      this.interests = profile.interests
      this.goals = profile.goals
      this.meetingWays = profile.meetingWays

      await this.$store.commit('sphere/setProfileData', {
        portfolio: this.portfolio,
        vk: this.vk,
        twitter: this.twitter,
        fb: this.fb,
        instagram: this.instagram,
        interests: this.interests
      })

      this.updateUserPictureUrls()
    },
    async deleteSocialAccount (socialNetworkType) {
      var isOk = false
      try {
        await this.$q.dialog({
          title: 'Внимание!',
          message: `Вы действительно хотите удалить информацию об аккаунте ${socialNetworkType}?`,
          ok: 'OK',
          cancel: 'Cancel'
        })
        isOk = true
      } catch (err) {
      }

      if (isOk) {
        await this.updateSocialAccount(socialNetworkType, null)
      }
    },
    async addSocialAccount (socialNetworkType) {
      var isOk = false
      var accountName = ''
      try {
        accountName = await this.$q.dialog({
          title: null,
          message: `${socialNetworkType}:`,
          prompt: {
            model: '',
            type: 'text' // optional
          },
          ok: 'OK',
          cancel: 'Cancel'
        })
        isOk = true
        accountName = accountName.replace('@', '').trim()
      } catch (err) {
      }

      if (isOk && accountName !== null && accountName !== '') {
        await this.updateSocialAccount(socialNetworkType, accountName)
      }
    },
    async updateSocialAccount (socialNetworkType, value) {
      switch (socialNetworkType) {
        case 'Vk': {
          this.vk = value
          break
        }
        case 'Twitter': {
          this.twitter = value
          break
        }
        case 'Facebook': {
          this.fb = value
          break
        }
        case 'Instagram': {
          this.instagram = value
          break
        }
      }
      let profile = {
        portfolio: this.portfolio,
        vk: this.vk,
        twitter: this.twitter,
        fb: this.fb,
        instagram: this.instagram
      }
      await this.$apiPost('profile', { profile: profile })
      await this.loadProfile()
    }
  }
}
</script>
