<template>
  <q-page class="flex flex-center">
    <q-card flat0 class="user-card" align="center">
      <q-card-media>
        <img alt="Quasar logo" src="~assets/trump.jpg">
      </q-card-media>
      <q-card-title>
        <div>Дональд</div>
        <div>Трамп, 72</div>
      </q-card-title>
      <!-- <q-card-separator /> -->
      <q-card-main>
        <p>Президент США</p>
        <p class="text-faded"><i class="fas fa-map-marker-alt"></i>  Вашингтон</p>
        <p>
          <q-chip color="primary">#бизнес</q-chip>
          <q-chip color="primary">#стартапы</q-chip>
          <q-chip color="primary">#сон</q-chip>
        </p>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<style>
.user-card {
  position: absolute;
  margin: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.q-chip {
  margin: 2px;
}
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
