<template>
  <q-page>
    <q-card flat0 class="user-page">
      <q-card-media>
        <img src="~assets/trump.jpg">
      </q-card-media>
      <q-card-title class="relative-position">
        <div class="absolute absolute-top-right">
          <q-btn round dense color="white" text-color="black" icon="far fa-hand-paper" class="shadow-1"></q-btn>
          <q-btn round dense color="white" text-color="black" icon="far fa-envelope" class="shadow-1"></q-btn>
        </div>
        <div>
          <q-btn v-on:click="acceptUser()">Познакомиться</q-btn>
          <q-btn v-on:click="rejectUser()">Отклонить</q-btn>
          <q-btn v-on:click="loadUserInfo()">Загрузить информацию о пользователе</q-btn>
          <q-btn v-on:click="getNextUsers()">Следующие пользователи</q-btn>
        </div>
        <div>Дональд</div>
        <div>Трамп, 72</div>
      </q-card-title>
      <q-card-main>
        <p>Президент США</p>
        <p class="text-faded"><i class="fas fa-map-marker-alt"></i>  Вашингтон</p>
        <p>
          <q-chip class="outline" small>#бизнес</q-chip>
          <q-chip color="primary" small>#стартапы</q-chip>
          <q-chip class="outline" small>#сон</q-chip>
          <q-chip class="outline" small>#фейстбук</q-chip>
          <q-chip class="outline" small>#арт</q-chip>
          <q-chip color="primary" small>#управление</q-chip>
        </p>
      </q-card-main>

      <q-card-separator />

      <q-card-main>
        <p>ОБО МНЕ</p>
        <p class="text-faded">Familiarize yourself with Card components with the examples below. The only requirement is that QCard needs to wrap all the other ones. Everything else is optional and can be inserted into your template anywhere as long as they are direct children of QCard.</p>
      </q-card-main>

      <q-card-separator />

      <q-card-main>
        <p>ЦЕЛИ</p>
        <p>
          <q-chip color="primary" small>Нанять людей</q-chip>
          <q-chip color="primary" small>UI</q-chip>
          <q-chip color="primary" small>Политика</q-chip>
        </p>
      </q-card-main>

      <q-card-separator />

      <q-card-main>
        <p>ВСТРЕЧА</p>
        <div class="row justify-between">
          <div class="hor-list-item" align="center">
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
            <div>test</div>
          </div>
          <div class="hor-list-item" align="center">
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
            <div>test</div>
          </div>
          <div class="hor-list-item" align="center">
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
            <div>test</div>
          </div>
          <div class="hor-list-item" align="center">
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
            <div>test</div>
          </div>
        </div>
      </q-card-main>

      <q-card-separator />

      <q-card-main>
        <p>Навыки</p>
        <p>
          <q-chip color="primary" small>ИНВЕСТИЦИИ В ПРОЕКТЫ</q-chip>
          <q-chip color="primary" small>ЗАРЯД</q-chip>
          <q-chip color="primary" small>ИДЕЯ</q-chip>
          <q-chip color="primary" small>СТАРТАП</q-chip>
          <q-chip color="primary" small>ПОЛИТИКА</q-chip>
          <q-chip color="primary" small>ИНВЕСТИЦИИ В ПРОЕКТЫ</q-chip>
          <q-chip color="primary" small>ЗАРЯД</q-chip>
        </p>
      </q-card-main>

      <q-card-separator />

      <q-card-main>
        <p>СОЦИАЛЬНЫЕ СЕТИ</p>
        <div>
          <q-btn dense>
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
          </q-btn>
          <q-btn dense>
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
          </q-btn>
          <q-btn dense>
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
          </q-btn>
          <q-btn dense>
            <img alt="Quasar logo" src="~assets/trump.jpg" width="50px">
          </q-btn>
        </div>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<style>
.user-page {
  margin: 10px;
}

.q-chip {
  margin: 2px;
}

.q-chip.outline {
  color: #027be3 !important;
  background-color: #ffffff !important;
  border: 1px solid #027be3 !important;
}

.hor-list-item {
  margin: 5px;
  display: inline-block;
}
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
    }
  },
  methods: {
    async acceptUser () {
      let userPairCreated = (await this.$apiPost('search/acceptUser', { userId: 1 })).data.isUsersPairCreated
      console.log(userPairCreated)
    },
    async rejectUser () {
      await this.$apiPost('search/rejectUser', { userId: 1 })
    },
    async loadUserInfo () {
      let userId = 1
      let userInfo = (await this.$apiGet(`search/getUserInfo?userId=${userId}`)).data.userInfo
      console.log(userInfo)
    },
    async getNextUsers () {
      let users = (await this.$apiGet('search/getNextUsers')).data.users
      console.log(users)
    }
  }
}
</script>
