<template>
  <div class="relative-position">
    <div class="round-borders overflow-hidden user-photo-preview" :style="{background: userPictureUrl ? `url(${userPictureUrl})` : null }"></div>
    <q-btn v-if="userPictureUrl" v-on:click="deletePhoto" round color="light" text-color="white" size="sm" icon="fas fa-times" class="user-photo-preview-btn"></q-btn>
    <q-btn v-if="!userPictureUrl" v-on:click="addPhoto" round color="blue" text-color="white" size="sm" icon="fas fa-plus" class="user-photo-preview-btn"></q-btn>

    <avatar-cropper
          ref="avatarCropper"
          @uploaded="handleUploaded"
          v-bind:trigger="''"
          v-bind:upload-url="`${this.$host}/profile/uploadPhoto`"
          v-bind:upload-form-data="{ photoNo: avatarNo }"
          v-bind:upload-headers="{ Authorization: `${$store.state.sphere.jwtToken}` }"
          :labels="{ submit: 'Загрузить', cancel: 'Отмена' }" />
    <!-- <div class="round-borders overflow-hidden user-photo-preview relative-position">
      <img alt="Quasar logo" v-bind:src="userPictureUrl" class="fit absolute-top">
    </div>
    <q-btn round color="light" text-color="white" size="sm" icon="fas fa-times" class="user-photo-preview-btn"></q-btn> -->
  </div>
</template>

<script>
import AvatarCropper from './vue-avatar-cropper'

export default {
  name: 'avatar',
  props: [ 'avatarNo' ],
  components: { AvatarCropper },
  data () {
    return {
      userPictureUrl: null,
      url: ''
    }
  },
  mounted () {
  },
  methods: {
    setUserPictureUrl (url, isUploaded) {
      this.url = url
      this.userPictureUrl = isUploaded ? url : null
    },
    async deletePhoto () {
      let deleteResult = await this.$apiGet(`profile/deletePhoto?photoNo=${this.avatarNo}`)
      if (deleteResult.success) {
        this.userPictureUrl = null
      }
    },
    async addPhoto () {
      this.$refs.avatarCropper.pickImage()
    },
    handleUploaded (resp) {
      // this.userAvatar = resp.relative_url
      this.userPictureUrl = this.url
    }
  }
}
</script>

<style>
.user-photo-preview {
  background-color: #dcdbe1;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

.user-photo-preview:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.user-photo-preview-btn {
  position: absolute;
  border: 4px solid #ffffff;
  bottom: -4px;
  right: -4px;
}
</style>
