<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header reveal v-if="pageMeta.header">
      <q-toolbar inverted>
        <q-btn
          flat
          round
          dense
          v-go-back.single="pageMeta.backRoute"
          icon="arrow_back"
          aria-label="Go back"
          v-if="pageMeta.showRoute"
        />
          <!-- class="cordova-only electron-only" -->
        <q-toolbar-title>
          <q-icon
            v-show="pageMeta.icon"
            style="font-size: 2rem; margin-right: 5px;"
            :name="pageMeta.icon"
          />
          {{ pageMeta.title }}
        </q-toolbar-title>
        <q-btn flat dense color="primary" :label="pageMeta.rightButtonLabel" v-if="pageMeta.showRightButton"/>
      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-layout-footer v-model="footer">
      <q-tabs v-model="selectedTab" align="center" inverted no-pane-border="true" underline-color="blue">
        <q-route-tab slot="title" to="/bookmarks" exact replace icon="fas fa-sliders-h" />
        <q-route-tab slot="title" to="/surf" exact replace icon="fas fa-search" />
        <q-route-tab slot="title" to="/chats" exact replace alert icon="far fa-comment" />
        <q-route-tab slot="title" to="/profile" exact replace icon="far fa-user" />
      </q-tabs>
    </q-layout-footer>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { mapState } from 'vuex'

export default {
  name: 'MyLayout',
  components: {
  },
  data () {
    return {
      selectedTab: 'tab-2',
      footer: true
    }
  },
  computed: {
    ...mapState('sphere', [
      'pageMeta'
    ])
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
